/* Reset some default styles */
body, ul {
  margin: 0;
  padding: 0;
}

/* Style the header */
header {
    position: sticky;
    background-color:  hsla(180,100%,25%, 0.5);
    /* color: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; /* Уберите горизонтальный отступ для растяжения на всю ширину */
    width: 100%; /* Занимайте всю доступную ширину */
    position: absolute;
    z-index: 100;
    left: 0;
}

/* Style the logo */
.logo img {
  margin-left: 100%;
  height: 50px;
  width: auto;
}

/* Style the navigation menu */
nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: black;
}

/* Style the language switcher */
.language_switcher {
  margin-right: 10%;
  display: flex;
  align-items: center;
}

.language-switcher label {
  margin-right: 10px;
  color: #fff;
}

.language-switcher select {
  padding: 5px;
}